<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="2" parallel="tests">
    <listeners>
        <listener class-name = "com.Artless.ListenersTestNG"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="FireFox Testing">
        <classes>
            <class name="com.Artless.FirefoxSuite.OpeningProjectPageTest"/>
            <class name="com.Artless.FirefoxSuite.TestingAttributesVisibilityTest"/>
            <class name="com.Artless.FirefoxSuite.TestingListsOfValuesForProjectTest"/>
            <class name="com.Artless.FirefoxSuite.TestingMandatoryEmailTest"/>
            <class name="com.Artless.FirefoxSuite.TestingSendingFormTest"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Chrome Testing">
        <classes>
            <class name="com.Artless.ChromeSuite.OpeningProjectPageTest"/>
            <class name="com.Artless.ChromeSuite.TestingAttributesVisibilityTest"/>
            <class name="com.Artless.ChromeSuite.TestingListsOfValuesForProjectTest"/>
            <class name="com.Artless.ChromeSuite.TestingMandatoryEmailTest"/>
            <class name="com.Artless.ChromeSuite.TestingSendingFormTest"/>
        </classes>
    </test>
</suite>
